.argument-container {
    color: #ffffff;
    height: fit-content;
    font-size: 13px;
    margin: 10px 0;
    p {
        width: 100%;
        height: 100%;
        padding: 3px;
    }
    &.pro-arg{
        border: 2px solid #05da8e;
    }
    &.cons-arg{
        border: 2px solid #d01c54;
    }
}